Import important packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

Uploading the data

In [14]:
dirty_data = pd.read_csv("C://Users//xrist//OneDrive//Υπολογιστής//Data//Linkedin-dirty-data//messy_data.csv", sep = ';', encoding='latin-1')

Tranform into DataFrame to handle the data more easily

In [15]:
df = pd.DataFrame(dirty_data)

In [63]:
df.head()

,IMBD_title_ID,Original_title,Release_year,Genre,Duration,Country,Content_Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,8.9

**USEFUL INFORMATIONS OF DATA**

In [186]:
df.shape

(76, 13)

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 0 to 99
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IMBD_title_ID   76 non-null     object
 1   Original_title  76 non-null     object
 2   Release_year    76 non-null     datetime64[ns]
 3   Duration        76 non-null     object
 4   Country         76 non-null     object
 5   Content_Rating  76 non-null     object
 6   Director        76 non-null     object
 7   Income          76 non-null     int32
 8   Votes           76 non-null     int32
 9   Score           76 non-null     object
 10  Genre1          76 non-null     string
 11  Genre2          76 non-null     string
 12  Genre3          76 non-null     string
dtypes: datetime64[ns](1), int32(2), object(7), string(3)
memory usage: 9.8+ KB

In [188]:
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 15, 16, 17, 18,
            19, 20, 21, 22, 23, 24, 25, 26, 29, 30, 31, 32, 33, 34, 35, 37, 38,
            39, 42, 43, 44, 45, 46, 49, 50, 51, 52, 53, 54, 55, 57, 59, 60, 61,
            64, 67, 68, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85,
            87, 88, 91, 94, 95, 96, 97, 99],
           dtype='int64')

In [189]:
df.describe()

             Income         Votes
count  7.600000e+01  7.600000e+01
mean   2.738499e+08  9.287982e+05
std    3.146542e+08  4.809663e+05
min    5.760000e+02  2.112500e+05
25%    3.021441e+07  6.178325e+05
50%    1.257286e+08  8.904730e+05
75%    4.052080e+08  1.188392e+06
max    1.142271e+09  2.278845e+06

**DATA CLEANING**

Rename the columns to more aproppriate names

In [21]:
df.columns

Index(['IMBD_title_ID', 'Original_titlÊ', 'Release_year', 'Genrë¨', 'Duration',
       'Country', 'Content_Rating', 'Director', 'Unnamed:_8', 'Income',
       '_Votes_', 'Score'],
      dtype='object')

In [19]:
df.columns = df.columns.str.replace(" ", "_")

In [26]:
df.rename(
    columns = {
        "Original_titlÊ" : "Original_title",
        'Genrë¨' : 'Genre',
        "_Votes_" : "Votes"
    },
inplace = True    
)

The column **Unnamed: 8** has NULL values so we must drop it!

In [34]:
df.drop(["Unnamed:_8"], axis = 1, inplace = True)

Also we are going to drop NULL rows

In [50]:
df.dropna(thresh = 11,inplace = True)

The **dirty_data** has some error values in columns so we must fix it!

1. We begin with **Score** column

In [65]:
df.at[2, 'Score'] = 9.0
df.at[3, 'Score'] = 9.0
df.at[4, 'Score'] = 8.9
df.at[5, 'Score'] = 8.9
df.at[8, 'Score'] = 8.8
df.at[10, 'Score'] = 8.8
df.at[15, 'Score'] = 8.7
df.at[16, 'Score'] = 8.7

2. We continue with **Release_year** column

In [72]:
df.loc[83, 'Release_year'] = '1983-01-12'

In [74]:
df.loc[84, 'Release_year'] = '1976-02-09'

In [86]:
df['Release_year'] = pd.to_datetime(df.Release_year)

3. Next is the column **Duration**

In [98]:
df['Duration'] = df['Duration'].replace(" ", 0)
df['Duration'] = df['Duration'].replace('178c', 178)
df['Duration'] = df['Duration'].replace("Inf", 0)
df['Duration'] = df['Duration'].replace("Nan", 0)
df['Duration'] = df['Duration'].replace("-", 0)
df['Duration'] = df['Duration'].replace("Not Applicable", 0)

4. Column **Income**

In [110]:
df.loc[3, 'Income'] = "$ 408035783"

In [119]:
df['Income'] = df['Income'].astype('string')

In [147]:
df['Income'] = df['Income'].str.replace('$', '', regex = True)

In [149]:
df['Income'] = df['Income'].astype('int32')

5. We continue with column **Votes**

In [153]:
df['Votes'] = df['Votes'].astype('string')
df['Votes'] = df['Votes'].str.replace('.', '', regex = True)

In [155]:
df['Votes'] = df['Votes'].astype('int32')

We split the **Genre** column and later we drop it.

In [163]:
df[['Genre1', 'Genre2', 'Genre3']] = df['Genre'].str.split(expand = True)

In [169]:
df.drop('Genre', axis = 1, inplace=True)

In [174]:
df['Genre1'] = df['Genre1'].astype('string')
df['Genre2'] = df['Genre2'].astype('string')
df['Genre3'] = df['Genre3'].astype('string')

In [176]:
df['Genre1'] = df['Genre1'].str.replace(',', '')
df['Genre2'] = df['Genre2'].str.replace(',', '')
df['Genre3'] = df['Genre3'].str.replace(',', '')

In [180]:
df[['Genre1', 'Genre2', 'Genre3']].fillna('None', inplace = True)

C:\Users\xrist\AppData\Local\Temp\ipykernel_6524\3600621952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Genre1', 'Genre2', 'Genre3']].fillna('None', inplace = True)

A wrong value for New Zealand

In [184]:
df.at[11, 'Country'] = 'New Zealand'

**DATA FILTERING**

**Top 10 Votes**

In [159]:
df.sort_values(by = 'Votes', ascending= False).head(10)

,IMBD_title_ID,Original_title,Release_year,Genre,Duration,Country,Content_Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,1005455211,2241615,9.0
8,tt1375666,Inception,2010-09-24,"Action, Adventure, Sci-Fi",148,USA,PG-13,Christopher Nolan,869784991,2002816,8.8
9,tt0137523,Fight Club,1999-10-29,Drama,0,UK,R,David Fincher,101218804,1807440,8.8
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",0,USA,R,Quentin Tarantino,222831817,1780147,8.9
10,tt0109830,Forrest Gump,1994-10-06,"Drama, Romance",142,USA,PG-13,Robert Zemeckis,678229452,1755490,8.8
11,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2002-01-18,"Action, Adventure, Drama",178,New Zesland,PG-13,Peter Jackson,887934303,1619920,8.8
5,tt0167260,The Lord of the Rings: The Return of the King,2004-02-22,"Action, Adventure, Drama",201,New Zealand,PG-13,Peter Jackson,1142271098,1604280,8.9
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
50,tt1345836,The Dark Knight Rises,2012-08-29,"Action, Adventure",164,UK,PG-13,Christopher Nolan,1081133191,1480582,8.3